*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
  overflow-x: hidden;
}
.container{
  width: 100%;
  border: 2px solid black;
}


/*  */
/* second topbar */
.maindiv2{
     background-color: rgb(11, 2, 52);
    padding: 20px 60px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.left{
    /* border: 2px solid red; */
    height: 180px;
    /* width: 26%; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */

}
  .left a{
    text-decoration: none;
    color: white;
    font-size: 37px;
    font-weight: 2;
    padding: 60px;
  }
  .slash{
    font-size: 70px;
  }
  .right{
    display: flex;

    align-items: center;
    justify-content: space-between;

  }
  .right a{
    text-decoration: none;
    color: white;
     font-size: 60px;
    font-weight: 20;
    padding: 40px;
  }
  .facebook i:hover,
  .twitter i:hover,
  .skype i:hover,
  .instagram i:hover
  {
    color: rgb(215, 75, 75);
  }
  /* maindiv2 closed */
  .maindiv3{
    /* border: 2px solid red; */
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: white;
   
    top: 0;
    z-index: 1000;

    
  }
  .mainsection{
    position: relative;
}

  .left1 img{
    height: 100px;
    width: 250px;
    /* border: 2px solid; */
  }
 .right1 {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  font-size: 60px;
}
  
   .right1 a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
   }
   .hme a:hover {
                 color: red;
   }
   .abt a:hover{
                 color: red;
              
   }
   .pro a:hover{
                 color: red;

   }
   .dropdown a:hover{
                 color: red;
           
   }
   /* dropdown container */
.dropdown{
    position: relative;
}
  .cont a:hover{
                 color: red;
        
  }
  .anchor{
    font-size: 30px;
  }

/* dropdown hidden */
.dropdown-content{
    position: absolute;
    top: 260%;
    left: 0;
    min-width: 380px;
    background: white;
    border: 1px solid #ccc;

    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
     transition: opacity 1.8s ease, visibility 1.8s ease;
}

/* links inside dropdown */
.dropdown-content a{
    color: black;
    /* padding: 10px; */
    display: block;
    text-decoration: none;
    font-size: 45px;
}
.dropdown:hover .dropdown-content{
    display: block;
      opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.navbar.sticky{
    padding: 15px 80px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}
.darrow{
  font-size: 30px;
}
/* maindiv3 */
  .maindiv4{
    background-image: url(https://t3.ftcdn.net/jpg/05/93/40/82/360_F_593408229_iZUqIkNJTnfcej66N5oWm38uFgX5AoYl.jpg);
    background-repeat: no-repeat;
    width: 100%;

    height:120vh;
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    border-bottom-left-radius: 320px;
    border-bottom-right-radius: 320px;
    position:relative; 
    transition: 0.5s;
    z-index: 1;
    
    /* margin-top: 300px; */

    /* margin-top: 150px; */


}
.black-box{
   width: 100%;
   height: 120vh;
   /* border: 2px solid; */
   background-color: rgb(8, 2, 31);
   opacity: 0.9;
    border-bottom-left-radius: 320px;
    border-bottom-right-radius: 320px;
    /* display: none; */

}
.content{
    position:absolute;
    top:4%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 550px;
    /* /* position: sticky; * */

}
.content1{
  font-size: 60px;
  text-align: center;
  
  /* margin-left: -2700px; */
  /* border: 2px solid red; */
}
.content2
        {
            font-size: 200px;
            font-weight: 100px;
            font-family: "Oswald", sans-serif;
             /* border: 2px solid red; */
             /* margin-left: -1860px; */
           margin-bottom: 100px;


        }
.content3{
          font-size: 100px;
            /* font-weight: 50; */
            font-family: "Lora", serif;
             margin-left: 160px;
           margin-bottom: 100px;

}
.content4 button{
    /* border: 2px solid red; */
    height: 250px;
    width: 600px;
    font-size: 50px;
    font-weight: 20;
    border-radius: 122px;
     margin-left: -660px;
     background-color: rgb(243, 93, 38);
     color: white;

} 
/* .maindiv4:hover{ */
    /* margin-top: 50px; */
/* } */
.parent:hover .maindiv3{
    padding: 40px;
}
/* maindiv5 */
.maindiv5{
    width: 80%;
    height: 1300px;
    /* border: 2px solid red; */
    margin-top: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    margin-left: 400px;
    
}
.card1,.card2,.card3,.card4{
     width: 20%;
    min-height:700px;
    border: 2px solid rgb(71, 70, 70 ,0.4);
    margin-top: 10px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #faf0f0; */

}
.card1,.card2,.card3,.card4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-left: 0px;
}

.chip i{
    font-size: 180px;
    color: orangered;
    margin: 50px;
    margin-bottom: 20px;
}
.line{
    
     width: 125px;
     border-color: orangered;
     font-size: 40px;
}
.heading h2{
    font-size: 60px;
    /* border: 2px solid; */
    color:black;
    text-transform: uppercase;
    font-family: sans-serif;
    /* margin-bottom: 40px; */
}
.heading2 h2{
    font-size:60px ;
    color:black;
    font-family: sans-serif;
}

.para p{
    font-size: 40px;
    color: gray;
    line-height: 80px;
    font-family: "Barlow Condensed", sans-serif;
    margin-left: 55px;
}
.card1:hover,.card2:hover,.card3:hover,.card4:hover{
      background-color: rgb(224, 116, 76);
    
}
.card1:hover.heading h2{
    color: rgb(250, 245, 245,3);
}
.card1

.card:hover .para p{
    color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* maindiv5 closed */
/* maindiv6 is opened */
.maindiv6 {
    width: 90%;
    margin: 150px auto;

    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;

    background-color: #f3eeee;
    padding: 80px 40px;
    flex-wrap: wrap;
}

/* LEFT SIDE */
.left-1 {
    flex: 1;
    min-width: 300px;
    position: relative;
}

/* BACKGROUND IMAGE */
.bg-image{
    width: 40%;
    height: 87%;
    background-image: url(https://www.shutterstock.com/image-vector/thin-slash-lines-seamless-pattern-260nw-2766731325.jpg);
    background-size: cover;
    background-position: center;
    margin-right: 70px;
    
    /* border: 2px solid; */
    
}

/* NORMAL IMAGE */
.left-1 img {
    width: 100%;
    height: auto;
    position: relative;  
    left: 0;
    top: 0;
    margin-top: 0;
    object-fit: cover;
}


/* RIGHT SIDE */
.right-1 {
    flex: 1;
    min-width: 300px;
    padding: 40px;
    margin-top: 0;   
}

.right-1 h1{
    font-size: 90px;
    color: #08153a;
    line-height: 1.4;
    margin-bottom: 40px;
}

.orange{
    /* background-image: url(https://www.shutterstock.com/image-vector/thin-slash-lines-seamless-pattern-260nw-2766731325.jpg) ; */
    
    color: orangered;
    font-size: 55px;
    line-height: 1.6;
    margin-bottom: 40px;
    font-family: "Barlow Condensed", sans-serif;

}

.gray{
    color: gray;
    font-size: 52px;
    line-height: 2;
    margin-bottom: 50px;
    font-family: "Barlow Condensed", sans-serif;

}

button{
    background-color: #11183f;
    color: white;
    border: none;
    padding: 65px 200px;
    border-radius: 60px;
    font-size: 40px;
    cursor: pointer;
}
/* maindiv7 */
   .ind{
      font-size: 150px;
   }
   .line2{
       border-color: red;
       width: 500px;
   }
   .maindiv7{
    margin: 300px;
    
   }
   /* maindiv8 */
   
.industries{
    width:80%;
    margin:100px auto;
}

.industries h2{
    font-size:55px;
    color:#0c1d4f;
    margin-bottom:60px;
}

.industry-container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
} 

.industry-container .card {
    flex: 1;
    min-width: 250px;
}
.card {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.card h3{
    margin-top:25px;
    font-size:52px;
    color:#0c1d4f;
}

.line{
    width:20%;
    height:2px;
    background:orangered;
    margin:15px 0;
}

.card p{
    color:#666;
    line-height:1.8;
    font-size: 52px;
}
/* maindiv9 */
.maindiv9 {
    width: 100%;
    min-height: 800px;   /* ⭐ FIX instead of height:100% */
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    margin-top: 400px;
}



.top{
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  width: 100%;
  /* background-color: green; */

}
    .cimage,.exp{
        /* border: 2px solid ; */
    min-height: 800px;
        width: 50%;
    }
    .cimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
    .bg-image2 {
    background-image: url(https://www.shutterstock.com/image-vector/modern-thin-slash-line-seamless-260nw-2734975749.jpg);
    background-size: cover;
    background-position: center;

    width: 100%;
    min-height: 900px;   /* ⭐ instead of auto */
    margin-top: 120px;
    

    opacity: 0.9;
    padding: 100px 180px;
}
.bg-image2 h1 {
    font-size: 60px;
    font-family: "Barlow Condensed", sans-serif;
    color: #11183f;
    margin-bottom: 30px;
}
   .bg-image2 a {
    color: rgb(101, 101, 137);
    text-decoration: none;
    font-size: 40px;
    padding: 0;
}
    
.fa-circle-plus,
.fa-circle-minus {
    font-size: 40px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2px;
}


.para1 {
    font-size: 24px;
    color: gray;
    font-family: "Barlow Condensed", sans-serif;
    padding: 20px 0;
}


.hl{
    font-size: 100px;
}
.para2,
.para3 {
    display:inline-flex;
    justify-content: space-between;
    align-items: center;

    font-size: 48px;
    padding: 20px 0;
    cursor: pointer;
}
.para2 i,
.para3 i {
    font-size: 35px;
    line-height: 1;
}
.para0{
    font-size:40px;
    display:inline-block;
    color: rgb(24, 7, 66);
    font-family: "Barlow Condensed", sans-serif;
    /* padding: 50px; */
    margin-left: 80px;
    cursor: pointer;
    

}
.fa-circle-plus{
    font-size:70px;
    color:black;
   height: 100px;
   border: 2px solid;
   margin-left:400px ;
}
/* maindiv 9 closed */
  .maindiv10{
    height: 100vh;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    background-color: #f3eeee;
    gap: 50px;
  } 
  .leftimages,.rightimages{
    width: 28%;
    display: flex;
    flex-direction: column;
    gap: 20px;


  }
  .leftimages1{
     height: 100%;
     min-width: 100%;
     /* border: 2px solid; */
  }
  .leftimages2,.leftimges3{
     height: 100%;
     width: 100%;
     /* border: 2px solid pink;  */
     position: relative;
    overflow: hidden;
     
  }
   .rightimages1,.rightimages2{
    height: 100%;
     width: 100%;
     /* border: 2px solid; */
     position: relative;
     overflow: hidden;

   }
   .rightimages3{
    height: 400px;
     width: 100%;
     /* border: 2px solid; */
   }
    .p1{
    font-size: 120px;
    color: #08153a;
    /* background-color: #acaeb1; */
}
.hori{
    border-color: red;
    width: 430px;
    margin-top: 50px;
}
.image-one,.image-two,.image-three,.image-four{
    height: 700px;
    min-width: 100%;
  display: block;

}

.texta, .textb, .textc{
  display: block;   /* ⭐ THIS FIXES SAME LINE ISSUE */
  color: white;
  margin-bottom: 10px;
  font-size: 40px;
 
}

.texta{
    margin-top: -300px;
    /* margin-left: -700px; */
    font-size: 56px;
}
.textb{
    margin-top:10px;
    font-size: 40px;
}
.textc{
    /* background-color: red; */
    font-size: 50px;
    /* margin-left: -920px; */
    cursor: pointer;
}



/* overlay container */
.blackbox{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left:200px ;

  /* height: 100%; */
  background: rgba(66, 66, 76, 0.5); 
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
   /* transform: translateX(-15deg); */
   right: -100%;
   z-index: 2;
   overflow: hidden;
}

.slant{
  position: absolute;
  top: 0;
  left: -35%;
  width: 100%;
  height: 100%;
  background-color: #00152b;
  transform: skew(-15deg);
  opacity: 0;
  z-index: 1;
}

.leftimages2:hover .slant {
  opacity: 1;
  transition-delay: 0.5s;

  
}



.texta, .textb, .textc{
  color: white;
  opacity: 0;
  transform: translateY(15px);
  transition: 0.4s ease;
}

.leftimages2:hover .texta{
  opacity: 1;
  transform: translateY(50px);
  transition-delay: 0.1s;

}

.leftimages2:hover .textb{
  opacity: 1;
  transform: translateY(50px);
  transition-delay: 0.2s;
}

.leftimages2:hover .textc{
  opacity: 1;
  transform: translateY(50px);
  transition-delay: 0.3s;
}
.blackbox2{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left:200px ;

  /* height: 100%; */
  background: rgba(66, 66, 76, 0.5); 
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
   /* transform: translateX(-15deg); */
   right: -100%;
   z-index: 2;
   overflow: hidden;
}


/* text on top */
.blackbox2 .strut1{
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
}

/* hover effect */
.leftimages2:hover .blackbox2{
  opacity: 1;
background-color: transparent;
}



/* 2image */
.leftimages3 {
  position: relative;
  overflow: hidden;
}
.image-two{
    height: 650px;
    width: 100%;
  display: block;
  margin-top: 20px;

}


.texta, .textb, .textc{
  display: block;   /* ⭐ THIS FIXES SAME LINE ISSUE */
  color: white;
  margin-bottom: 10px 0;
  font-size: 40px;
 
}

.texta{
    margin-top: -300px;
    margin-left: -0px;
    font-size: 56px;
    
}
.textb{
    margin-top:10px;
    font-size: 40px;
}
.textc{
    /* background-color: red; */
    font-size: 50px;
    margin-left: 0px;
    cursor: pointer;
}
.blackbox3{
  width: 50%;
  height: 200px;
  position: absolute;
  top: 0;
  left:200px ;

  /* height: 100%; */
  background: rgba(66, 66, 76, 0.5); 
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
   /* transform: translateX(-15deg); */
   right: -100%;
   z-index: 2;
   overflow: hidden;
   
}
.slant2{
  position: absolute;
  top: 0;
  left: -35%;
  width: 100%;
  height: 100%;
  background-color: #00152b;
  transform: skew(-15deg);
  opacity: 0;
  z-index: 1;
}
.leftimages3:hover .slant2 {
  opacity: 1;
  transition-delay: 0.5s;

  
}



.texta, .textb, .textc{
  color: white;
  opacity: 0;
  transform: translateY(0px);
  transition: 0.4s ease;
  margin-top: 100px;
}

.leftimages3:hover .texta{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.1s;
  margin-left: 0;
  max-width: 80%;
}

.leftimages3:hover .textb{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
   margin-left: 0;
    max-width: 80%;
}

.leftimages3:hover .textc{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
   margin-left: 0;
    max-width: 80%;
}
.blackbox3 .strut1{
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
}

/* hover effect */
.leftimages3:hover .blackbox3{
  opacity: 1;
  background-color:transparent;
  
}
.leftimages3:hover {
  
  transition: 0.3s ease;
  overflow: hidden;
}

.rightimages1 {
  position: relative;
  overflow: hidden;
}
.image-three{
    height: 650px;
    width: 100%;
  display: block;
  margin-top: 20px;

}


.texta, .textb, .textc{
  display: block;   /* ⭐ THIS FIXES SAME LINE ISSUE */
  color: white;
  margin-bottom: 10px;
  font-size: 40px;
 
}

.texta{
    /* margin-top: -300px; */
    /* margin-left: -700px; */
    font-size: 56px;
}
.textb{
    margin-top:10px;
    font-size: 40px;
}
.textc{
    /* background-color: red; */
    font-size: 50px;
    /* margin-left: -920px; */
    cursor: pointer;
}
.blackbox4{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 200px;

  /* height: 100%; */
  background: rgba(66, 66, 76, 0.5); 
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 2;
  overflow: hidden;
}
.slant3{
  position: absolute;
  top: 0;
  left: -35%;
  width: 100%;
  height: 96%;
  background-color: #00152b;
  transform: skew(-15deg);
  opacity: 0;
  z-index: 1;
}
.rightimages1:hover .slant3 {
  opacity: 1;
  transition-delay: 0.5s;

  
}



.texta, .textb, .textc{
  color: white;
  opacity: 0;
  transform: translateY(15px);
  transition: 0.4s ease;
}

.rightimages1:hover .texta{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.1s;
}

.rightimages1:hover .textb{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}

.rightimages1:hover .textc{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
}
.blackbox4 .strut2{
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
}
.rightimages1:hover .blackbox4{
  opacity: 1;
  background-color:transparent;
}




  .rightimages2 {
  position: relative;
  overflow: hidden;
}
.image-four{
    height: 650px;
    width: 100%;
  display: block;
  margin-top: 20px;
  overflow: hidden;

}


.texta, .textb, .textc{
  display: block;   /* ⭐ THIS FIXES SAME LINE ISSUE */
  color: white;
  margin-bottom: 10px;
  font-size: 40px;
 
}

.texta{
    /* margin-top: -300px; */
    margin-left: 0px;
    font-size: 56px;
}
.textb{
    margin-top:10px;
    font-size: 40px;
}
.textc{
    /* background-color: red; */
    font-size: 50px;
    margin-left: -920px;
    cursor: pointer;
}
.blackbox5{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 200px;
   padding: 30px;
  /* height: 100%; */
  background: rgba(66, 66, 76, 0.5); 
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 2;
  overflow: hidden;
}
.slant4{
  position: absolute;
  top: 0;
  left: -35%;
  width: 100%;
  height: 100%;
  background-color: #00152b;
  transform: skew(-15deg);
  opacity: 0;
  z-index: 1;
}
.rightimages2:hover .slant4 {
  opacity: 1;
  transition-delay: 0.5s;
  overflow: hidden;

  
}


.texta, .textb, .textc{
  color: white;
  opacity: 0;
  transform: translateY(15px);
  transition: 0.4s ease;
}


.rightimages2:hover .texta{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.1s;
}

.rightimages2:hover .textb{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}
.rightimages2:hover .textc{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
  overflow: hidden;
}
.blackbox5 .strut3{
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
  overflow: hidden;
}


/* hover effect */
.rightimages2:hover .blackbox5{
  opacity: 1;
  background-color:transparent;
}
 
.rightimages3{
    background-color: #11183f;
    color: white;
}
.ributn{
    background-color: orangered;
    margin: 100px 400px;
    cursor: pointer;}

    .ributn:hover{
        background-color: white;
        color: black;
    }
    

.maindiv11{
    width:80%;
    border:2px solid red;
    display:flex;
    flex-direction:column;
    gap:20px;
    margin:100px auto;
    background-color:rgb(28,28,64);
    padding:50px;
    align-items: center;
    padding-bottom: 200px;
}
.bottom{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
}
.head h1{
  color: white;
  font-size: 40px;
}
.foot{
    
    display:flex;
    flex-direction:column;
}
   

.foot img{
    max-width:100%;
    height:600px;
    display:block;
    object-fit:cover;
    /* border: 2px solid red */
    ;
    /* padding: 100px; */
}
.head {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    
    margin: 150px 200px;

    
    
}
.foottext{
    padding: 3px 15px 40px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: transparent rgb(234, 235, 237) rgb(234, 235, 237);
    border-image: initial;
    transition: 1s;
    /* margin: 200px; */

}
.name,.role{
  font-size: 49px;
}

.maindiv13{
   /* height: 300px;
   width: 80%; */
   padding: 200px;
   /* border: 2px solid red; */
   /* margin-top: 700px; */
}
   .latest{
    font-size: 180px;
    margin-left: auto;
    margin-top: 200px;
    color: #08153a;
    
   }
   .hl1{
    /* margin-left: auto; */
    border-color: red;
    width: 30%;

    
   }
     
   

.blog-section{
    width:85%;
    margin:100px auto;
    margin-bottom:360px;


}

.title h2{
    font-size:55px;
    color:#0b1c4f;
    font-weight:700;
    line-height:1.2;
}

.line{
    width:50px;
    height:2px;
    background:#ff5722;
    margin-top:20px;
    margin-bottom:60px;
}

.blog-container{
    display:flex;
    gap:50px;
}

.blog-card{
    flex:1;
}

.blog-card img{
    min-width:100%;
    height:700px;
    object-fit:cover;
    display:block;
}

.meta{
    margin-top:40px;
    font-size:34px;
    color:#777;
}

.blog-card h3{
    margin-top:40px;
    color:#0b1c4f;
    font-size:48px;
    line-height:1.4;
    font-weight:700;
    text-transform:uppercase;
}

.blog-card hr{
    margin:25px 0;
    border:none;
    border-top:1px solid #ddd;
}

.bottom{
    display:flex;
    gap:30px;
    color:#777;
    font-size:44px;
}


    
   .maindiv15{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;

}

.topbox{
      width: 50%;
      height: 280px;
      background: orangered;
      margin: auto;
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      top:100px ;
    }

    .topbox h1{
      color: white;
      font-size: 60px;
    }

    .inputbox{
      display: flex;
      gap: 50px;
    }

   .inputbox input{
  width: 100%;
  max-width: 600px;
  height: 80px;
  border: none;
  border-radius: 50px;
  padding-left: 20px;
  font-size: 22px;
}
    


    .inputbox button{
      /* width: 120px; */
      /* height: 20px; */
      padding: 40px 120px;
      border: none;
      border-radius: 60px;
      background-color: #07153a;
      color: white;
      font-size: 28px;
      cursor: pointer;
      text-align: center;
      align-items: center;
      /* border: 2pc solid green; */
    }

    /* FOOTER */
    .footer{
      width: 100%;
      background-color: #00152b;
      padding: 190px 80px;
      /* margin-left: 500px; */

      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 10px;
    }
    

    .box{
      width: 250px;
      color: white;
    }

    .box h2{
      margin-bottom: 30px;
      font-size: 45px;
    }

    .box p{
      line-height: 35px;
      color: gray;
      font-size: 38px;
    }
    .gallery{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 10px;
    }

    .gallery img{
      width:280px;
      height: 180px;
      object-fit: cover;
    }
    

    /* CONTACT */

    .contact p{
      margin-bottom: 20px;

    }
    /* maindiv16 */
    .maindiv16{
       height: 400px;
       width: 100%;
       font-size: 55px;
       border: 2px solid red;
       font-weight: 22;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: rgb(35, 33, 33);
       color: rgb(116, 116, 116);
    }
    .image-container{
    position: relative;
    width: 100%;
    height: 400px;   /* change as needed */
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}